html,body{margin:0;}
header{
    position: fixed;
    top:0;
    height: 120px;
    width: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
}
header * {
    display: inline;
}
header li {
    font-family:"Bookman Old Style", serif;
    margin: 20px;
}

main{
    margin-top: 128px;
}

@supports (height: 100vh) {
    body{
        background-size: 100% calc(100% - 100vh + 129px);
        background: linear-gradient(to right top, #0089f2 50%, #DDD 50%) no-repeat;
    }

    body:before{
        content:'';
        position: fixed;
        top: 128px;
        bottom: 0;
        width: 100%;
        z-index: -1;
        background:#E8E9EA;
    }
}

body{
    font-family: "Bookman Old Style", serif;
    font-size: 1.25rem;
}
main,header{
    padding: 10px 10%;
    box-sizing: border-box;
}
h1 {
    font-family: "Bookman Old Style", serif;
    font-weight:700;
    font-size:56px;
    margin-right:300px;
    margin-left:-80px;
}
h2 {
    font-family:"Bookman Old Style", serif;
}
h4 {
    font-family:"Bookman Old Style", serif;
}
.orange{
    color: orangered;
}
.red{
    color: red;
}
.blue{
    color: #0089f2;
}
.black{
    color: #000000;
}
.general-form{
    padding-left:150px;
    margin-left:350px;
    margin-right:300px;
    margin-top:150px;
    margin-bottom:100px;
    background: lavender;
    border: dotted #0089f2 7px;
    background-clip:padding-box;
}

.login-form{
    padding-left:150px;
    margin-left:350px;
    margin-right:300px;
    margin-top:150px;
    margin-bottom:100px;
    background: lavender;
    border: dotted #0089f2 7px;
    background-clip:padding-box;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.create-form{
    padding-left:100px;
    margin-left:350px;
    margin-right:300px;
    margin-top:150px;
    margin-bottom:100px;
    background: lavender;
    border: dotted #0089f2 7px;
    background-clip:padding-box;
}

.submit-grade-form{
    padding-left:50px;
    margin-left:350px;
    margin-right:300px;
    margin-top:150px;
    margin-bottom:100px;
    background: lavender;
    border: dotted #0089f2 7px;
    background-clip:padding-box;
}